.app {}

.tsinfolink {
    position: absolute;
    right: 0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.ts-page-label {
    font-weight: bold;
    font-size: medium;
}

.iteration-name {
    font-size: medium;
}

.iteration-dates {
    font-size: x-small;
    font-weight: normal;
}

.cardboard-column-header {
    margin-left: unset;
    margin-right: unset;
}

.date-label {
    font-size: 13px;
    font-weight: bold;
    font-family: ProximaNova, Helvetica, Arial;
    text-transform: uppercase;
}

.grid-area {
    background-color: rgb(244, 244, 244);
    padding: 15px;
    border: rgb(213, 213, 213);
    border-width: thin;
    border-style: solid;
    border-radius: 4px;
}

.ts-panel-header {
    background-color: rgb(244, 244, 244);
}

.ts-panel-header .x-panel-header-text {
    font-weight: bold;
}

.ts-artifact-color {
    width: 5px;
    height: 20px;
}

.ts-card-table div {
    font-weight: bold;
    font-size: 1.1em;
    color: #666;
}

.ts-scope-control {
    margin-top: 3px;
    margin-right: 9px;
}
